- form_tag sessions_path do
  %label
    =t('sign_in.password') + ":"
    = password_field_tag :password
  = submit_tag t('sign_in.login')
  
= link_to t("sign_in.logout"), "/sessions/1", :method=>'delete'