-content_for :content_title, 'About'

%h3 The internet
%img{:src => '/images/austin_flores.png', :title => 'Austin Flores'}
%p If you've ever tried to get a hold of me, my away message is that I am busy making the internet a better place. That's a tall order to fill but it is a frame of mind that I try to keep during all of my web developing. If anything is worth programming then it has some piece of itself attached to the internet. As a programmer that is where my passions and interests lie.

%p I currently work for a small #{link_to 'web development firm', 'http://cloudspace.com'} that believes in the many virtues of open source and the community that comes with it. They also believe in beer o'clock which works well as I am somewhat of a beer enthusiast.

%h3 Hobbies
%p In my spare time I am somewhat of a #{link_to 'dancing fool', 'http://www.youtube.com/watch?v=VXqSv3lXEf4'}. I would Highly recommend it if you get the chance. I've also been trying to pick up the violin, it's pretty sweet, and did I mention beer? That's sort of a hobby.
