-content_for :content_title, 'Austin Flores'
#resume
  %table{:id=>"contact_info"}
    %tbody
      %tr{:style=>"display:none;"}
        %th{:scope=>"col"} email
        %th{:scope=>"col"} address
        %th{:scope=>"col"} phone
      %tr
        %td.contacts
          = link_to 'AustinFlores.com','AustinFlores.com'
          = link_to 'github.com/unflores', 'http://github.com/unflores'
        %td 4801 Gorham Avenue<br/>Orlando, FL 32817
        %td{:style=>"text-align:right;"} 
          = '772-215-5705'
          = link_to 'me@AustinFlores.com','mailto:me@AustinFlores.com'
  %h3 Core Compentencies
  %table#resume_data
    %tbody
      %tr
        %th.company{:scope => 'row'}
          %h4='Software Developer'
        %td.responsibilities
          %ul
            %li Use Ruby on Rails, node.js, PHP, XHTML, JavaScript, CSS and SQL to create web applications.
            %li Develop software using the agile paradigm while programming in a pair.
            %li Implement automated testing using Selenium, RSPEC and Cucumber. 
            %li Consult clients on the architecture of new features.
            %li Refactor legacy code.
      %tr
        %th.company{:scope => 'row'}
          %h4='System Administration'
        %td.responsibilities
          %ul
            %li Set up deployment to Amazon EC2 nodes and Heroku.
            %li Configure local development environments with VirtualBox
      %tr
        %th.company{:scope => 'row'}
          %h4='Miscellaneous Technologies'
        %td.responsibilities
          %ul
            %li Version Control Systems: SVN & Git 
            %li JavaScript: JQuery & node.js
            %li Project Management Software: Pivotal Tracker, Basecamp,  & Unfuddle
            %li Social Media APIs: Twitter & Facebook
            %li Content Management Systems: Wordpress, Drupal & Textpatter     
  %h3 Experience
  %table#resume_data
    %tbody
      %tr
        %th.company{:scope => 'row'}
          %h4=link_to 'Cloudspace', 'http://cloudspace.com'
          %h5 Lead Engineer
          .dates 12-2008 to Present
        %td.responsibilities
          %ul
            %li Construct web applications from the ground up in a pair programming and agile development environment.
            %li Send daily updates and meet weekly with clients.
            %li Refactor legacy code and build automated tests.
            %li Mentor new hires in business processes.
      %tr
        %th.company{:scope => 'row'}
          %h4=link_to "FlorezDesign", 'http://florezdesign.com'
          %h5 Web Developer
          .dates 09-2008 to Present
        %td.responsibilities
          %ul
            %li Setting up  Wordpress installations.
            %li Developing database driven websites.
            %li Integrating social networking APIs.
      %tr
        %th.company{:scope => 'row'}
          %h4{:title => 'Course Development and Web Services'}=link_to 'CDWS at University of Central Florida', "http://cdws.ucf.edu/"
          %h5 Web Developer
          .dates 06-2007 to 12-2009
        %td.responsibilities
          %ul
            %li  Developed Section 508 compliant XHTML/CSS content for online courses.
            %li  Headed CMS deployment and training for UCF online learning websites. 
            %li  Assisted diverse student body with online learning technical inquiries.
            %li  Developed and delivered an informational session on open course-ware held for major U.S. universities at the Educause Leadership Summit
      %tr
        %th.company{:scope => 'row'}
          %h4='FedEx'
          %h5 Team Leader
          .dates 05-2005 to 05-2007
        %td.responsibilities
          %ul
            %li   Managed team of ten people.
            %li   Facilitated and directed work flow during times of heavy volume
  %h3 Education
  %table#resume_data
    %tbody
      %tr
        %th.university{:scope => 'row'}
          %h4{:title=>'University of Central Florida'}=link_to 'University of Central Florida', 'http://www.ucf.edu'
        %td.merits
          %ul
            %li Bachelor in Computer Science
            %li Minor in Spanish - Fluent in Spanish
            %li Minor in Mathematics
          
  
