-content_for :content_title, 'Austin Flores'
#resume
  %table{:id=>"contact_info"}
    %tbody
      %tr{:style=>"display:none;"}
        %th{:scope=>"col"} email
        %th{:scope=>"col"} address
        %th{:scope=>"col"} phone
      %tr
        %td.contacts
          = link_to 'ctrl4ltdeleteme@gmail.com','mailto:ctrl4ltdeleteme@gmail.com'
          = link_to 'github.com/unflores', 'http://github.com/unflores'
        %td 4801 Gorham Avenue<br/>Orlando, FL 32817
        %td{:style=>"text-align:right;"} 772-215-5705
        
  %h3 Experience
  %table#resume_data
    %tbody
      %tr
        %th.company{:scope => 'row'}
          %h4=link_to 'Cloudspace', 'http://cloudspace.com'
          %h5 Lead Engineer
          .dates 12-2008 to Present
        %td.responsibilities
          %ul
            %li Consulting clients on the implementation of new features.  
            %li Configuring and implementing automated testing.
            %li Arhitecting and writing web applications.
      %tr
        %th.company{:scope => 'row'}
          %h4=link_to "FlorezDesign", 'http://florezdesign.com'
          %h5 Web Developer
          .dates 09-2008 to Present
        %td.responsibilities
          %ul
            %li Setting up  Wordpress installations.
            %li Developing database driven websites.
            %li Integrating social networking APIs.
      %tr
        %th.company{:scope => 'row'}
          %h4{:title => 'Course Development and Web Services'}=link_to 'CDWS at University of Central Florida', "http://cdws.ucf.edu/"
          %h5 Web Developer
          .dates 06-2007 to 12-2009
        %td.responsibilities
          %ul
            %li Implemented Content Management Systems.
            %li Held training sessions to train faculty.
            %li Developed XHTML/CSS websites in accordance with W3C standards and Section 508 compliance.
  %h3 Education
  %table#resume_data
    %tbody
      %tr
        %th.university{:scope => 'row'}
          %h4{:title=>'University of Central Florida'}=link_to 'University of Central Florida', 'http://www.ucf.edu'
        %td.merits
          %ul
            %li Bachelor in Computer Science
            %li Minor in Spanish
            %li Minor in Mathematics
          
  
