- if @posts.empty? 
  %p There are no posts at this time.
- else
  - @posts.each do |post|
    #article
      %h3
        = link_to post.title, post
        %span.created_at
          = post.created_at.strftime("%m-%d-%Y") if post.created_at
      .content
        != RedCloth.new(post.body).to_html
      -unless post.tag_list.blank?
        =render :partial => "shared/tag_list", :locals => { :tag_list => post.tag_list }
  = will_paginate @posts, :page_links => false